<div class="container">
    <form>
        <div class="div">
            <h5>¿Por cual medio desea notificar?</h5>
        </div>
        <div class="btn-group">
            <button class="btn btn-outline-success"><span class="fab fa-whatsapp"></span> Whatsapp</button>
            <button class="btn btn-outline-primary"><span class="fa fa-sms"></span> SMS</button>
            <button class="btn btn-outline-danger"><span class="fa fa-at"></span> Correo Electronico</button>
        </div>
    </form>
</div>