<div class="card">
    <div class="d-flex">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="container">
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-group">
            <button class="btn btn-light" style="box-shadow: none; background: none; border: none;"><span class="fa fa-check" style="color: #000;"></span></button>
            <button class="btn btn-success"><span class="fa fa-bell"></span></button>
            <button class="btn btn-danger"><span class="fa fa-trash"></span></button>
        </div>
    </div>

</div>