<div class="wrapper">
    <div class="d-flex flex-column">
        <div class="logo-container moveUp first">
            <img src="https://mzmotos.com/static/images/logo.png" alt="">
        </div>

        <div class="card login-container fadeInUp second">
            <div class="card-body">
                <p>Inicio Sesión</p>
                <form action="">
                    <div class="form-group">
                        <input type="text" name="user" class="form-control" placeholder="Usuario" required>
                    </div>
                    <div class="form-group">
                        <input type="text" name="password" class="form-control" placeholder="Contraseña" required>
                    </div>
                    <div class="right">
                        <div class="btn-group">
                            <button type="submit" routerLink="/sales" class="btn btn-light">Iniciar Sesión</button>
                        </div>
                    </div>
                </form>
                <a class="underlineHover mt-3">¿Has olvidado tu la contraseña?</a>
            </div>
        </div>
    </div>
</div>