<div class="product-container my-4 mx-2">
    <div class="product-image">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" alt="">
    </div>
    <div class="product-detail">
        <div class="product-name my-2">
            <span>Product</span>
        </div>
        <div class="product-description my-4">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="product-footer">
            <span class="price">$0.00</span>
            <!-- <button class="btn btn-primary"></button> -->
        </div>
    </div>
</div>