.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.client-selection {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    color: #fff;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0 0 15px 15px;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    top: 3.5rem;
    left: 0;
    z-index: 10;
}