<div class="container">
    <form>
        <div class="form-group d-flex">
            <label for="search" style="font-size: 1.5rem; margin: 0 0.25rem 0 0;"><span class="fa fa-search"></span></label>
            <input type="text" name="search" id="" class="form-control">
        </div>

        <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="search()"><span class="fa fa-search"></span> Aceptar</button>
            <button class="btn btn-outline-danger" (click)="cancel()"><span class="fa fa-times"></span> Cancelar</button>
        </div>
    </form>
</div>